:root {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --text-primary: hsl(0, 0%, 71%);
  --text-secondary: hsl(0, 0%, 93%);
  --bg-primary: hsl(240, 14%, 16%);
  --bg-secondary: hsl(240, 9%, 9%);
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
  color: hsl(240, 9%, 9%);
  background-color: hsl(0, 0%, 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
